#examPage .PageContent{
    padding: 20px 5%
}
#examPage .courseBar{
    background-color: #3b7781;
    color: white;
    border-radius: 10px;
    /* padding: 20px; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#examPage .courseBar h1{
    margin: 20px;
}
#examPage  .courseBar img{
    height: 150px;
}
#examPage .examSection{
    /* padding: 10px 5%; */
    padding: 10px 1%;
}
#examPage .examSection .examInfo{

    justify-content: space-between;
}
#examPage .examSection .examInfo .info{
    align-items: flex-start;
    /* flex-basis: 30%; */
}
#examPage .examSection .examInfo .info h1{
    margin-bottom: 5px;
}
#examPage .examSection .examInfo .info p{
    margin: 0px;
    color: rgb(77, 77, 77);
}
#examPage .examSection .examInfo .submittedDate{
    color: rgba(0, 0, 0, 0.572);
    font-size: 18px;
}
#examPage .examSection .examInfo .info hr{
    border: 2px solid #3b7781;
    flex-basis: 100%;
    width: 100%;
}
#examPage .examSection .examInfo .status{
    align-items: flex-end;
    justify-content: space-around;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.572);
}
#examPage .examSection .examInfo .status p{
    margin: 0px;
    text-align: right;
}

#examPage .examSection  .workDescription{
    text-align: start;
}

#examPage .examSection .wrongMessage{
    color: red;
}
.examQuestions .SubmitButton,.SubmitButton{
    background-color: #3d5ef0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}
.examQuestions .SubmitButton:hover,.SubmitButton:hover{
    background-color: #2246e8;

}
.examQuestions .SubmitButton:active,.SubmitButton:active{
    background-color: #506def;

}
.examQuestions .SubmitButton .loading,.SubmitButton .loading{
    display: none;
}

.examQuestions .SubmitButton.disabled,.SubmitButton.disabled{
    background-color: rgba(0, 43, 233, 0.512);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
    cursor:auto;
}
.examQuestions .SubmitButton.disabled:hover,.SubmitButton.disabled:hover{
    background-color: rgba(0, 43, 233, 0.512);

}
.examQuestions .SubmitButton.disabled:active,.SubmitButton.disabled:active{
    background-color: rgba(0, 43, 233, 0.512);

}

.examQuestions .SubmitButton.disabled .loading,.SubmitButton.disabled .loading{
    height: 100%;
    top: -5px;
    left: 48%;
    display: block;
    /* width: 100%; */
}

