#ParentSidePages .Homepage{
    background-color: #c9ddfe;
    /* display: flex;
    flex-direction: row; */
}
#ParentSidePages .Homepage .statusBoxes{
    /* justify-content: space-around; */
    justify-content: center;
    flex-wrap: wrap;
}
#ParentSidePages .Homepage .overviewTitle{
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;
}
#ParentSidePages .Homepage .overviewTitle .ChangeCurrentStudent{
    color: blue;
    /* font-weight: 100; */
    font-size: 17px;
    margin: 20px;
    cursor: pointer;
}

#ParentSidePages .Homepage  .StudentsList{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 94vw;
    height: 89vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(11, 11, 11, 0.282);
    z-index: 999;

}
#ParentSidePages .Homepage  .StudentsList.disabled{
    display: none;
}
#ParentSidePages .Homepage  .StudentsList div{
    background-color: #c9ddfe;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    min-width: 200px;
    transition: 0.5s;
}
#ParentSidePages .Homepage  .StudentsList div:hover{
    background-color: #8bbaff;

}
#ParentSidePages .Homepage .dataColumns{
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;

}
#ParentSidePages .Homepage .dataColumns .workToSubmit,
#ParentSidePages .Homepage .dataColumns .analytics{

    flex-basis: 45%;
}
@media (max-width: 1440px) {
    #ParentSidePages .Homepage .dataColumns .workToSubmit,
    #ParentSidePages .Homepage .dataColumns .analytics{
    
        flex-basis: 90%;
    }
}
@media (max-width: 500px) {
    #ParentSidePages .Homepage{
    
        zoom: 0.58;
    }
    #ParentSidePages .CoursesPage{
        zoom: 0.58;
    }
}


#ParentSidePages .test{
    background-color: #dbeaff;
    height: 350px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    display: none;
}

