
#StudentSendMessagePage .pageContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 100px;
}
#StudentSendMessagePage  .FormComponants{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#StudentSendMessagePage  .pageContent .sendToInfo{
    align-items: center;
    justify-content: center;
    width: 100%;
}
#StudentSendMessagePage  .pageContent .sendToInfo .sentToText,#StudentSendMessagePage  .pageContent .sendToInfo .changeSendTo {
    margin-top: 40px;
}
#StudentSendMessagePage  .pageContent .sendToInfo .searchTarget{
    position: relative;
    width: 70%;

    
}
#StudentSendMessagePage  .pageContent .sendToInfo .input-effect{
    width: 100%;
}
#StudentSendMessagePage  .pageContent .sendToInfo .suggestions{
    position: absolute;
    top: 100%;
    left: 0px;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgb(207, 207, 207);
    background-color: white;
    z-index: 999;
    padding: 5%;
    width: 90%;
    display: none;
}
/* #StudentSendMessagePage  .pageContent .sendToInfo .input-effect input:focus ~.suggestions{
    display: block;
} */
#StudentSendMessagePage  .pageContent .changeSendTo{
    color: blue;
    cursor: pointer;
}
#StudentSendMessagePage .FormComponants .input-effect{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: -5px 5px 5px rgba(161, 161, 161, 0.302);


}
#StudentSendMessagePage .FormComponants .red{
    color: red;
}
#StudentSendMessagePage .FormComponants .input-effect input{
    font-size: 20px;
}

#StudentSendMessagePage .FormComponants textarea{
    width: 98%;
    /* width: 100%; */
    height: 50vh;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    box-shadow: -5px 5px 10px rgba(161, 161, 161, 0.302);
    border: none;
}
#StudentSendMessagePage .FormComponants button{
    width: 100%;
    margin: 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
    background-color: #3d5ef0;
    color: white;
    box-shadow: -5px 5px 10px rgba(161, 161, 161, 0.302);
    transition: 0.5s;
    cursor: pointer;
}
#StudentSendMessagePage .FormComponants button:hover{
    background-color: #6078e2;

}

#StudentSendMessagePage .FormComponants button.disabled{
    pointer-events: none;
}