#ParentSidePages .assignments .workExamPanel{
    margin: 20px;
}
@media (max-width:500px) {
    #ParentSidePages .assignments{
        zoom: 0.58;
    }
}


#ParentSidePages .assignments .NotTodo{
    display: none;
}