.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
.question .questionText{
    font-size: 20px;
}
.question .questionText .minus{
    color: #c44545;
}
.question .plus{
    color:#45c486;
    /* color: white;
    background-color: #45c486;
    padding: 10px;
    border-radius: 10px;
    margin-left: 21px; */
    font-weight: bolder;
    font-size: 25px;
}
.question .row{
    align-items: center;
}
.homeworkQuestions .SubmitButton,.examQuestions .SubmitButton{
    background-color: #3d5ef0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}
.homeworkQuestions .SubmitButton:hover,.examQuestions .SubmitButton:hover{
    background-color: #2246e8;

}
.homeworkQuestions .SubmitButton:active,.examQuestions .SubmitButton:active{
    background-color: #506def;

}
.homeworkQuestions .SubmitButton .loading,.examQuestions .SubmitButton .loading{
    display: none;
}

.homeworkQuestions .SubmitButton.disabled,.examQuestions .SubmitButton.disabled{
    background-color: rgba(0, 43, 233, 0.512);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
    cursor:auto;
}
.homeworkQuestions .SubmitButton.disabled:hover,.examQuestions .SubmitButton.disabled:hover{
    background-color: rgba(0, 43, 233, 0.512);

}
.homeworkQuestions .SubmitButton.disabled:active,.examQuestions .SubmitButton.disabled:active{
    background-color: rgba(0, 43, 233, 0.512);

}

.homeworkQuestions .SubmitButton.disabled .loading,.examQuestions .SubmitButton.disabled .loading{
    height: 100%;
    top: -5px;
    left: 48%;
    display: block;
    /* width: 100%; */
}