.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
.question .questionText{
    font-size: 20px;
}
.question .questionText .minus{
    color: #c44545;
}
.question .plus{
    color:#45c486;
    /* color: white;
    background-color: #45c486;
    padding: 10px;
    border-radius: 10px;
    margin-left: 21px; */
    font-weight: bolder;
    font-size: 25px;
}
.question .row{
    align-items: center;
}
