.workExamPanel{
    background-color: #dbeaff;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    min-height: 350px;
    position: relative;
    min-width: 500px;
}
.workExamPanel .emptyMessage{
    position: absolute;
    top: 50%;
    width: 50%;
    color:#9ac0ff;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.workExamPanel .emptyMessage .loading{
    width: 40px;
    height: 40px;
    border: 5px dashed #373e486b;
    border-radius: 100%;

}
@media (prefers-reduced-motion: no-preference) {
    .workExamPanel .emptyMessage .loading{
      animation: infinitRotate infinite 10s linear;
    }
  }
.workExamPanel svg{
    font-size: 40px;

}
.workExamPanel table{
    position: relative;
    width: 100%;
}
.workExamPanel table .still{
    background-color: lightgreen;
    color:green;
    padding: 10px;
    border-radius: 10px;
}
.workExamPanel table .today{
    background-color: #EFEE8F;
    color:#959535;
    padding: 10px;
    border-radius: 10px;
}

.workExamPanel table .late{
    background-color: #EEAE9C;
    color:red;
    padding: 10px;
    border-radius: 10px;
}



.workExamPanel .titleSeemore{
    justify-content: space-between;
}
.workExamPanel .hide{
    display: none;
}
.workExamPanel .titleSeemore a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.workExamPanel .titleSeemore a svg{
    font-size: 15px;

}
.workExamPanel .panelTitle{
    text-align: left;
    margin-top: 0px;
    font-weight: bolder;
}
.workExamPanel tr{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
    height: 50px;

}
.workExamPanel .tableRow{
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
}
.workExamPanel .tableRow:hover{
    box-shadow: -2px 2px 5px gray;
}

.workExamPanel tr td{
    margin: 0px 10px;
}
.workExamPanel .tableHeaders{
    border-bottom: 1px solid gray;
    text-align: center;
}
.workExamPanel hr{
    border: 1px solid #c9ddfe;
    position: absolute;
    width: 100%;
    margin: 0px;
}
