.Account{
    height: 100%;
}
@media (max-width:500px) {
    .Account{
        zoom: 0.58;
    }
}
.Account .topBar{
    margin-bottom: 25px;
}
.Account .content{
    height: 100%;
    justify-content: space-around;
}
.ProfileImage{
    position: relative;
}
.ProfileImage .imgContainer{
    width: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
    cursor: pointer;
}
.ProfileImage img{
    width: 100%;
}
.ProfileImage .ChangePicCover{
    margin: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 200px;
    background-image: linear-gradient(rgba(207, 207, 207, 0.283) 50%, rgba(126, 126, 126, 0.671) 50%);
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transition: 0.5s;
}
.ProfileImage .imgContainer:hover .ChangePicCover{
    /* display: flex; */
    opacity: 1;
}
.ProfileImage .ChangePicCover p{
    margin: 40px;
    font-size: 20px;
    color: white;
}
.personalInfo .row{
    justify-content: space-between;
    margin: 20px 20vw;
    border-bottom: 1px solid;
}
.changeDataMessage{
    color: rgba(0, 0, 0, 0.343);
}
