.row{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.column{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */

}

@media (max-width: 1700px) {
    .hideInSmall {
      display: none !important;
    }
  }