.written textarea{
    width: 55%;
    min-height: 100px;
    resize: none;
    padding: 10px;
    overflow: auto;
    height: min-content;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    background-color: #eff4ff;
    /* pointer-events: none; */
}
.written textarea::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}
.written textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(145, 145, 145);
    /* border-radius: 10px; */
}
