/* .classroomsPage{
    padding: 0px 20px;
} */
.classroomsPage .title{
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    font-style: italic;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.422);
}
.classroomsPage .title .lineBefore{
    width: 10%;
    margin: 0px 5px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.422);
}
.classroomsPage .title .lineAfter{
    width: 90%;
    margin: 0px 5px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.422);
}
/* .classroomsPage .title::after{
    content:'-';
    color: blue;
    width: 100%;
    border-bottom: 2px solid black;
} */
.classroomsPage .classroomsContainer .classroomBox{
    background-color: #3d5ef0;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    box-shadow: -1px 1px 10px gray;
    margin: 10px;
    min-width: 170px;
    transition: 0.3s;
}
.classroomsPage .classroomsContainer a{
    text-decoration: none;
}
.classroomsPage .classroomsContainer .classroomBox:hover{
    box-shadow: -5px 5px 10px gray;

}
.classroomsPage .classroomsContainer{
    justify-content: center;
}
.SubjectBoxes{
    display: none;
}

.boxShow{
    display: flex;
}