.classroomInfoPage{
    position: relative;
    height: 100vh;
    overflow: auto;
}
.classroomInfoPage .searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.classroomInfoPage .searchBar input{
    flex-basis: 50%;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    border:none;
    background-color: rgba(255, 255, 255, 0.467);

}
.classroomInfoPage .searchBar input:focus{
    border: none;
}

.classroomInfoPage .studentListContainer{
    padding: 1vw 4vw;
}
.studentInfoCard{
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.388);
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    box-shadow:-1px 1px 10px #81818161;
    transition: 0.5s;
}
.studentInfoCard:hover{
    box-shadow:-4px 4px 10px #818181a2;

}
.studentInfoCard img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right:10px;
}   
.studentInfoCard .LeftStudentInfo .textInfo{
    align-items: start;
    justify-content: start;
}
.studentInfoCard .LeftStudentInfo .textInfo p{
    margin-bottom: 2px;
}
.studentInfoCard .LeftStudentInfo .textInfo span{
    color: gray;
}


.studentInfoCard .RightStudentInfo{

}

.studentInfoCard .RightStudentInfo a{
    margin: 0px 10px;
    color: black;
    text-decoration: none;
}